body {
    background-color: azure;
    text-align: center;
}

#user-input {
    padding: 6px;
    border: 1px solid #ccc;
    font-size: 17px;
}

#submit-button {
    padding: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#increment-button {
    padding: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
